.grid-container {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 24px;
  padding-bottom: 24px;
}

.row-container {
  height: 80px;
  margin-bottom: 0px;
}

.row-container.column-container {
  border-width: 4px;
}

.row-container.column-container.row-1 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-width: 1px;
  border-color: #c31f1f;
  background-color: #f5c6d6;
}

.row-container.column-container.row-4 {
  background-color: #60f5f5;
}

.column-container {
  display: block;
  height: 80px;
  padding-right: 0px;
  padding-left: 0px;
  border-style: solid;
  border-color: #fff;
  background-color: #f56060;
}

.column-container.row-2-column {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ee2e84;
}

.column-container.row-3-column {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #85cfd8;
}

.column-container.row-4-column {
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: solid;
  background-color: #8dc63f;
}

.column-container.bottom-right {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #e76e34;
}

.heading {
  position: static;
  display: block;
  text-align: center;
}

.body {
  background-color: cyan;
  background-image: url('../images/mariobackground.png');
  background-position: 0px 0px;
  background-size: cover;
}

.form {
  display: inline-block;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.form-block {
  display: inline-block;
  margin-top: 50px;
}

.form-block-2 {
  position: static;
  display: inline-block;
  text-align: left;
}

.form-block-3 {
  display: inline-block;
  margin-right: 0px;
  text-align: left;
}

.text-field {
  position: static;
  display: block;
}

.text-field-2 {
  display: block;
}

.text-field-3 {
  display: block;
}

.columns {
  position: static;
  display: block;
}

.totalcaught {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.totalcaught2 {
  position: static;
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  text-align: left;
}

.totalcaught3 {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.field-label {
  text-align: center;
}

.coinvalue3 {
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
}

.coinvalue {
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
}

.text-span {
  display: inline-block;
}

.coinvalue2 {
  display: block;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  font-size: 35px;
  line-height: 40px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.cheepcheepnametext {
  display: block;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  text-align: center;
}

.bobombnametext {
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  text-align: center;
}

.goombanametext {
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  text-align: center;
}

.mariotitle {
  margin-top: 0px;
  margin-bottom: 50px;
  background-color: red;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  font-size: 60px;
  text-align: center;
}

.text-block {
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  font-size: 30px;
}

.text-block-2 {
  text-align: left;
}

.text-block-3 {
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
}

.text-block-3.contactinfo {
  display: block;
  background-color: #fff;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.heading-6 {
  margin-left: 82px;
  text-align: center;
}

.userinputtotal {
  display: block;
  width: 200px;
  margin-top: 21px;
  margin-right: auto;
  margin-left: auto;
}

.totaltext {
  display: block;
  margin: 20px auto auto 45px;
  padding-left: auto;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  font-size: 35px;
  line-height: 20px;
  text-align: center;
}

.submit-button {
  display: inline-block;
  margin-top: auto;
  margin-right: auto;
  margin-left: 940px;
  background-color: red;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media (max-width: 991px) {
  .totaltext {
    position: static;
    margin-top: 15px;
    margin-left: 27px;
    float: none;
    text-align: left;
  }
  .submit-button {
    display: inline;
    color: red;
    width: auto;
    margin-top: auto;
    margin-left: 65px;
    float: none;
    clear: none;
    text-align: center;
  }
}